[Unit]
Description=React flask whiteboard website
After=network.target

[Service]
User=quince
WorkingDirectory=/home/quince/Quince
Environment=QUINCE_PORT=5000
Environment=QUINCE_HOST=localhost
Environment=QUINCE_DATA=data
ExecStart=/usr/bin/python3 back
Restart=always

[Install]
WantedBy=multi-user.target
